# Environment variables
.env
.env.*

# Volumes and databases
db_data/
*.sqlite3

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# LaTeX
/latex/*.aux
/latex/*.log
/latex/*.out
/latex/*.toc
/latex/*.bbl
/latex/*.blg
/latex/main.pdf
